body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.not_found {
  width: 100%;
  min-height: 600px;
  max-height: 80vh;
  height: auto;
  font-weight: bold;
  font-size: 18px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: #fff
}

.carousel-caption {
  top: 30%;
  bottom: auto;
  background: rgba(0,0,0,.75);
  /* background: radial-gradient(rgba(0,0,0,.75) 50%, rgba(0,0,0,0) 70%);; */
  border-radius: 16px;
}

.bg-custom {
  background: rgba(0,0,0,.75)
}

.form-control{
  text-transform: capitalize;
}